{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}
{{- if .Param "math" }}
  {{- $texChtml := resources.Get "js/tex-mml-chtml.js" -}}
  {{- with try (resources.GetRemote "https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js") }}
    {{ with .Err }}
      {{ warnf "%s; using bundled fallback" . }}
    {{ else with .Value }}
      {{ $texChtml = . }}
    {{ end }}
  {{- end }}
  {{ with resources.Copy "mathjax/tex-mml-chtml.min.js" $texChtml }}
    {{ $texChtml = . }}
  {{ end }}
  {{- $mathjax := $texChtml | fingerprint -}}
  <script
    defer
    crossorigin="anonymous"
    id="MathJax-script"
    src="{{ $mathjax.RelPermalink }}"
    integrity="{{ $mathjax.Data.Integrity }}"
  ></script>
  <script>
    window.MathJax = {
      loader: {
        paths: {
          fonts: "/mathjax/fonts",
        },
      },
      output: {
        font: "mathjax-newcm",
        fontPath: "[fonts]/%%FONT%%-font",
      },
      tex: {
        displayMath: [
          ["\\[", "\\]"],
          ["$$", "$$"],
        ],
        inlineMath: [["\\(", "\\)"], ["$", "$"]],
      },
    };
  </script>
{{- end }}
{{- if .Param "mermaid" }}
  {{- $mermaid := resources.Get "js/mermaid.min.js" -}}
  {{- with try (resources.GetRemote "https://cdn.jsdelivr.net/npm/mermaid@11/dist/mermaid.min.js") }}
    {{ with .Err }}
      {{ warnf "%s; using bundled fallback" . }}
    {{ else with .Value }}
      {{ with resources.Copy "js/mermaid.min.js" . }}
        {{ $mermaid = . }}
      {{ end }}
    {{ end }}
  {{- end }}
  {{ $mermaid = $mermaid | fingerprint }}
  <script
    defer
    crossorigin="anonymous"
    id="Mermaid-script"
    src="{{ $mermaid.RelPermalink }}"
    integrity="{{ $mermaid.Data.Integrity }}"
  ></script>
{{- end }}
{{- $cryptoJS := resources.Get "js/crypto-js.min.js" -}}
  {{- with try (resources.GetRemote "https://cdn.jsdelivr.net/npm/crypto-js@4/crypto-js.min.js") }}
    {{ with .Err }}
      {{ warnf "%s; using bundled fallback" . }}
    {{ else with .Value }}
      {{ with resources.Copy "js/crypto-js.min.js" . }}
        {{ $cryptoJS = . }}
      {{ end }}
    {{ end }}
  {{- end }}
{{ $cryptoJS = $cryptoJS | fingerprint }}
<script
  defer
  crossorigin="anonymous"
  id="CryptoJS-script"
  src="{{ $cryptoJS.RelPermalink }}"
  integrity="{{ $cryptoJS.Data.Integrity }}"
></script>
{{- /* Head custom content area end */ -}}
