/* Catppuccin Latte (Light) */
:root:not([data-theme="dark"]) .chroma { color: var(--code-text); background-color: var(--code-block-bg); }
:root:not([data-theme="dark"]) .bg { color: var(--code-text); background-color: var(--code-block-bg); }
:root:not([data-theme="dark"]) .chroma .x {  }
:root:not([data-theme="dark"]) .chroma .err { color: rgb(210, 15, 57) }
:root:not([data-theme="dark"]) .chroma .cl {  }
:root:not([data-theme="dark"]) .chroma .lnlinks { outline: none; text-decoration: none; color: inherit }
:root:not([data-theme="dark"]) .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
:root:not([data-theme="dark"]) .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
:root:not([data-theme="dark"]) .chroma .hl { background-color: rgb(230, 233, 239) }
:root:not([data-theme="dark"]) .chroma .lnt { white-space: pre; -webkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em; color: rgb(156, 160, 176) }
:root:not([data-theme="dark"]) .chroma .ln { white-space: pre; -webkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em; color: rgb(156, 160, 176) }
:root:not([data-theme="dark"]) .chroma .line { display: flex; }
:root:not([data-theme="dark"]) .chroma .k { color: rgb(136, 57, 239) }
:root:not([data-theme="dark"]) .chroma .kc { color: rgb(254, 100, 11) }
:root:not([data-theme="dark"]) .chroma .kd { color: rgb(210, 15, 57) }
:root:not([data-theme="dark"]) .chroma .kn { color: rgb(23, 146, 153) }
:root:not([data-theme="dark"]) .chroma .kp { color: rgb(136, 57, 239) }
:root:not([data-theme="dark"]) .chroma .kr { color: rgb(136, 57, 239) }
:root:not([data-theme="dark"]) .chroma .kt { color: rgb(210, 15, 57) }
:root:not([data-theme="dark"]) .chroma .n {  }
:root:not([data-theme="dark"]) .chroma .na { color: rgb(30, 102, 245) }
:root:not([data-theme="dark"]) .chroma .nb { color: rgb(4, 165, 229) }
:root:not([data-theme="dark"]) .chroma .bp { color: rgb(4, 165, 229) }
:root:not([data-theme="dark"]) .chroma .nc { color: rgb(223, 142, 29) }
:root:not([data-theme="dark"]) .chroma .no { color: rgb(223, 142, 29) }
:root:not([data-theme="dark"]) .chroma .nd { color: rgb(30, 102, 245); font-weight: bold }
:root:not([data-theme="dark"]) .chroma .ni { color: rgb(23, 146, 153) }
:root:not([data-theme="dark"]) .chroma .ne { color: rgb(254, 100, 11) }
:root:not([data-theme="dark"]) .chroma .nf { color: rgb(30, 102, 245) }
:root:not([data-theme="dark"]) .chroma .fm { color: rgb(30, 102, 245) }
:root:not([data-theme="dark"]) .chroma .nl { color: rgb(4, 165, 229) }
:root:not([data-theme="dark"]) .chroma .nn { color: rgb(254, 100, 11) }
:root:not([data-theme="dark"]) .chroma .nx {  }
:root:not([data-theme="dark"]) .chroma .py { color: rgb(254, 100, 11) }
:root:not([data-theme="dark"]) .chroma .nt { color: rgb(136, 57, 239) }
:root:not([data-theme="dark"]) .chroma .nv { color: rgb(220, 138, 120) }
:root:not([data-theme="dark"]) .chroma .vc { color: rgb(220, 138, 120) }
:root:not([data-theme="dark"]) .chroma .vg { color: rgb(220, 138, 120) }
:root:not([data-theme="dark"]) .chroma .vi { color: rgb(220, 138, 120) }
:root:not([data-theme="dark"]) .chroma .vm { color: rgb(220, 138, 120) }
:root:not([data-theme="dark"]) .chroma .l {  }
:root:not([data-theme="dark"]) .chroma .ld {  }
:root:not([data-theme="dark"]) .chroma .s { color: rgb(64, 160, 43) }
:root:not([data-theme="dark"]) .chroma .sa { color: rgb(210, 15, 57) }
:root:not([data-theme="dark"]) .chroma .sb { color: rgb(64, 160, 43) }
:root:not([data-theme="dark"]) .chroma .sc { color: rgb(64, 160, 43) }
:root:not([data-theme="dark"]) .chroma .dl { color: rgb(30, 102, 245) }
:root:not([data-theme="dark"]) .chroma .sd { color: rgb(140, 143, 161) }
:root:not([data-theme="dark"]) .chroma .s2 { color: rgb(64, 160, 43) }
:root:not([data-theme="dark"]) .chroma .se { color: rgb(30, 102, 245) }
:root:not([data-theme="dark"]) .chroma .sh { color: rgb(140, 143, 161) }
:root:not([data-theme="dark"]) .chroma .si { color: rgb(64, 160, 43) }
:root:not([data-theme="dark"]) .chroma .sx { color: rgb(64, 160, 43) }
:root:not([data-theme="dark"]) .chroma .sr { color: rgb(23, 146, 153) }
:root:not([data-theme="dark"]) .chroma .s1 { color: rgb(64, 160, 43) }
:root:not([data-theme="dark"]) .chroma .ss { color: rgb(64, 160, 43) }
:root:not([data-theme="dark"]) .chroma .m { color: rgb(254, 100, 11) }
:root:not([data-theme="dark"]) .chroma .mb { color: rgb(254, 100, 11) }
:root:not([data-theme="dark"]) .chroma .mf { color: rgb(254, 100, 11) }
:root:not([data-theme="dark"]) .chroma .mh { color: rgb(254, 100, 11) }
:root:not([data-theme="dark"]) .chroma .mi { color: rgb(254, 100, 11) }
:root:not([data-theme="dark"]) .chroma .il { color: rgb(254, 100, 11) }
:root:not([data-theme="dark"]) .chroma .mo { color: rgb(254, 100, 11) }
:root:not([data-theme="dark"]) .chroma .o { color: rgb(4, 165, 229); font-weight: bold }
:root:not([data-theme="dark"]) .chroma .ow { color: rgb(4, 165, 229); font-weight: bold }
:root:not([data-theme="dark"]) .chroma .p {  }
:root:not([data-theme="dark"]) .chroma .c { color: rgb(140, 143, 161); font-style: italic }
:root:not([data-theme="dark"]) .chroma .ch { color: rgb(140, 143, 161); font-style: italic }
:root:not([data-theme="dark"]) .chroma .cm { color: rgb(140, 143, 161); font-style: italic }
:root:not([data-theme="dark"]) .chroma .c1 { color: rgb(140, 143, 161); font-style: italic }
:root:not([data-theme="dark"]) .chroma .cs { color: rgb(140, 143, 161); font-style: italic }
:root:not([data-theme="dark"]) .chroma .cp { color: rgb(140, 143, 161); font-style: italic }
:root:not([data-theme="dark"]) .chroma .cpf { color: rgb(140, 143, 161); font-weight: bold; font-style: italic }
:root:not([data-theme="dark"]) .chroma .g {  }
:root:not([data-theme="dark"]) .chroma .gd { color: rgb(210, 15, 57); background-color: rgb(204, 208, 218) }
:root:not([data-theme="dark"]) .chroma .ge { font-style: italic }
:root:not([data-theme="dark"]) .chroma .gr { color: rgb(210, 15, 57) }
:root:not([data-theme="dark"]) .chroma .gh { color: rgb(254, 100, 11); font-weight: bold }
:root:not([data-theme="dark"]) .chroma .gi { color: rgb(64, 160, 43); background-color: rgb(204, 208, 218) }
:root:not([data-theme="dark"]) .chroma .go {  }
:root:not([data-theme="dark"]) .chroma .gp {  }
:root:not([data-theme="dark"]) .chroma .gs { font-weight: bold }
:root:not([data-theme="dark"]) .chroma .gu { color: rgb(254, 100, 11); font-weight: bold }
:root:not([data-theme="dark"]) .chroma .gt { color: rgb(210, 15, 57) }
:root:not([data-theme="dark"]) .chroma .gl { text-decoration: underline }
:root:not([data-theme="dark"]) .chroma .w {  }

/* Catppuccin Mocha (Dark) */
:root[data-theme="dark"] .chroma { color: var(--code-text); background-color: var(--code-block-bg); }
:root[data-theme="dark"] .bg { color: var(--code-text); background-color: var(--code-block-bg); }
:root[data-theme="dark"] .chroma .x {  }
:root[data-theme="dark"] .chroma .err { color: rgb(237, 135, 150) }
:root[data-theme="dark"] .chroma .cl {  }
:root[data-theme="dark"] .chroma .lnlinks { outline: none; text-decoration: none; color: inherit }
:root[data-theme="dark"] .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
:root[data-theme="dark"] .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
:root[data-theme="dark"] .chroma .hl { background-color: rgb(71, 71, 51) }
:root[data-theme="dark"] .chroma .lnt { white-space: pre; -webkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em; color: rgb(128, 135, 162) }
:root[data-theme="dark"] .chroma .ln { white-space: pre; -webkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em; color: rgb(128, 135, 162) }
:root[data-theme="dark"] .chroma .line { display: flex; }
:root[data-theme="dark"] .chroma .k { color: rgb(198, 160, 246) }
:root[data-theme="dark"] .chroma .kc { color: rgb(245, 169, 127) }
:root[data-theme="dark"] .chroma .kd { color: rgb(237, 135, 150) }
:root[data-theme="dark"] .chroma .kn { color: rgb(139, 213, 202) }
:root[data-theme="dark"] .chroma .kp { color: rgb(198, 160, 246) }
:root[data-theme="dark"] .chroma .kr { color: rgb(198, 160, 246) }
:root[data-theme="dark"] .chroma .kt { color: rgb(237, 135, 150) }
:root[data-theme="dark"] .chroma .n {  }
:root[data-theme="dark"] .chroma .na { color: rgb(138, 173, 244) }
:root[data-theme="dark"] .chroma .nb { color: rgb(145, 215, 227) }
:root[data-theme="dark"] .chroma .bp { color: rgb(145, 215, 227) }
:root[data-theme="dark"] .chroma .nc { color: rgb(238, 212, 159) }
:root[data-theme="dark"] .chroma .no { color: rgb(238, 212, 159) }
:root[data-theme="dark"] .chroma .nd { color: rgb(138, 173, 244); font-weight: bold }
:root[data-theme="dark"] .chroma .ni { color: rgb(139, 213, 202) }
:root[data-theme="dark"] .chroma .ne { color: rgb(245, 169, 127) }
:root[data-theme="dark"] .chroma .nf { color: rgb(138, 173, 244) }
:root[data-theme="dark"] .chroma .fm { color: rgb(138, 173, 244) }
:root[data-theme="dark"] .chroma .nl { color: rgb(145, 215, 227) }
:root[data-theme="dark"] .chroma .nn { color: rgb(245, 169, 127) }
:root[data-theme="dark"] .chroma .nx {  }
:root[data-theme="dark"] .chroma .py { color: rgb(245, 169, 127) }
:root[data-theme="dark"] .chroma .nt { color: rgb(198, 160, 246) }
:root[data-theme="dark"] .chroma .nv { color: rgb(244, 219, 214) }
:root[data-theme="dark"] .chroma .vc { color: rgb(244, 219, 214) }
:root[data-theme="dark"] .chroma .vg { color: rgb(244, 219, 214) }
:root[data-theme="dark"] .chroma .vi { color: rgb(244, 219, 214) }
:root[data-theme="dark"] .chroma .vm { color: rgb(244, 219, 214) }
:root[data-theme="dark"] .chroma .l {  }
:root[data-theme="dark"] .chroma .ld {  }
:root[data-theme="dark"] .chroma .s { color: rgb(166, 218, 149) }
:root[data-theme="dark"] .chroma .sa { color: rgb(237, 135, 150) }
:root[data-theme="dark"] .chroma .sb { color: rgb(166, 218, 149) }
:root[data-theme="dark"] .chroma .sc { color: rgb(166, 218, 149) }
:root[data-theme="dark"] .chroma .dl { color: rgb(138, 173, 244) }
:root[data-theme="dark"] .chroma .sd { color: rgb(110, 115, 141) }
:root[data-theme="dark"] .chroma .s2 { color: rgb(166, 218, 149) }
:root[data-theme="dark"] .chroma .se { color: rgb(138, 173, 244) }
:root[data-theme="dark"] .chroma .sh { color: rgb(110, 115, 141) }
:root[data-theme="dark"] .chroma .si { color: rgb(166, 218, 149) }
:root[data-theme="dark"] .chroma .sx { color: rgb(166, 218, 149) }
:root[data-theme="dark"] .chroma .sr { color: rgb(139, 213, 202) }
:root[data-theme="dark"] .chroma .s1 { color: rgb(166, 218, 149) }
:root[data-theme="dark"] .chroma .ss { color: rgb(166, 218, 149) }
:root[data-theme="dark"] .chroma .m { color: rgb(245, 169, 127) }
:root[data-theme="dark"] .chroma .mb { color: rgb(245, 169, 127) }
:root[data-theme="dark"] .chroma .mf { color: rgb(245, 169, 127) }
:root[data-theme="dark"] .chroma .mh { color: rgb(245, 169, 127) }
:root[data-theme="dark"] .chroma .mi { color: rgb(245, 169, 127) }
:root[data-theme="dark"] .chroma .il { color: rgb(245, 169, 127) }
:root[data-theme="dark"] .chroma .mo { color: rgb(245, 169, 127) }
:root[data-theme="dark"] .chroma .o { color: rgb(145, 215, 227); font-weight: bold }
:root[data-theme="dark"] .chroma .ow { color: rgb(145, 215, 227); font-weight: bold }
:root[data-theme="dark"] .chroma .p {  }
:root[data-theme="dark"] .chroma .c { color: rgb(110, 115, 141); font-style: italic }
:root[data-theme="dark"] .chroma .ch { color: rgb(110, 115, 141); font-style: italic }
:root[data-theme="dark"] .chroma .cm { color: rgb(110, 115, 141); font-style: italic }
:root[data-theme="dark"] .chroma .c1 { color: rgb(110, 115, 141); font-style: italic }
:root[data-theme="dark"] .chroma .cs { color: rgb(110, 115, 141); font-style: italic }
:root[data-theme="dark"] .chroma .cp { color: rgb(110, 115, 141); font-style: italic }
:root[data-theme="dark"] .chroma .cpf { color: rgb(110, 115, 141); font-weight: bold; font-style: italic }
:root[data-theme="dark"] .chroma .g {  }
:root[data-theme="dark"] .chroma .gd { color: rgb(237, 135, 150); background-color: rgb(54, 58, 79) }
:root[data-theme="dark"] .chroma .ge { font-style: italic }
:root[data-theme="dark"] .chroma .gr { color: rgb(237, 135, 150) }
:root[data-theme="dark"] .chroma .gh { color: rgb(245, 169, 127); font-weight: bold }
:root[data-theme="dark"] .chroma .gi { color: rgb(166, 218, 149); background-color: rgb(54, 58, 79) }
:root[data-theme="dark"] .chroma .go {  }
:root[data-theme="dark"] .chroma .gp {  }
:root[data-theme="dark"] .chroma .gs { font-weight: bold }
:root[data-theme="dark"] .chroma .gu { color: rgb(245, 169, 127); font-weight: bold }
:root[data-theme="dark"] .chroma .gt { color: rgb(237, 135, 150) }
:root[data-theme="dark"] .chroma .gl { text-decoration: underline }
:root[data-theme="dark"] .chroma .w {  }
