/* Catppuccin Latte (Light) */
:root:not([data-theme="dark"]) .chroma { color: var(--code-text); background-color: var(--code-block-bg); }
:root:not([data-theme="dark"]) .bg { color: var(--code-text); background-color: var(--code-block-bg); }
:root:not([data-theme="dark"]) .chroma .x {  }
:root:not([data-theme="dark"]) .chroma .err { color: rgb(210, 15, 57) }
:root:not([data-theme="dark"]) .chroma .cl {  }
:root:not([data-theme="dark"]) .chroma .lnlinks { outline: none; text-decoration: none; color: inherit }
:root:not([data-theme="dark"]) .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
:root:not([data-theme="dark"]) .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
:root:not([data-theme="dark"]) .chroma .hl { background-color: rgb(230, 233, 239) }
:root:not([data-theme="dark"]) .chroma .lnt { white-space: pre; -webkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em; color: rgb(156, 160, 176) }
:root:not([data-theme="dark"]) .chroma .ln { white-space: pre; -webkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em; color: rgb(156, 160, 176) }
:root:not([data-theme="dark"]) .chroma .line { display: flex; }
:root:not([data-theme="dark"]) .chroma .k { color: rgb(136, 57, 239) }
:root:not([data-theme="dark"]) .chroma .kc { color: rgb(254, 100, 11) }
:root:not([data-theme="dark"]) .chroma .kd { color: rgb(210, 15, 57) }
:root:not([data-theme="dark"]) .chroma .kn { color: rgb(23, 146, 153) }
:root:not([data-theme="dark"]) .chroma .kp { color: rgb(136, 57, 239) }
:root:not([data-theme="dark"]) .chroma .kr { color: rgb(136, 57, 239) }
:root:not([data-theme="dark"]) .chroma .kt { color: rgb(210, 15, 57) }
:root:not([data-theme="dark"]) .chroma .n {  }
:root:not([data-theme="dark"]) .chroma .na { color: rgb(30, 102, 245) }
:root:not([data-theme="dark"]) .chroma .nb { color: rgb(4, 165, 229) }
:root:not([data-theme="dark"]) .chroma .bp { color: rgb(4, 165, 229) }
:root:not([data-theme="dark"]) .chroma .nc { color: rgb(223, 142, 29) }
:root:not([data-theme="dark"]) .chroma .no { color: rgb(223, 142, 29) }
:root:not([data-theme="dark"]) .chroma .nd { color: rgb(30, 102, 245); font-weight: bold }
:root:not([data-theme="dark"]) .chroma .ni { color: rgb(23, 146, 153) }
:root:not([data-theme="dark"]) .chroma .ne { color: rgb(254, 100, 11) }
:root:not([data-theme="dark"]) .chroma .nf { color: rgb(30, 102, 245) }
:root:not([data-theme="dark"]) .chroma .fm { color: rgb(30, 102, 245) }
:root:not([data-theme="dark"]) .chroma .nl { color: rgb(4, 165, 229) }
:root:not([data-theme="dark"]) .chroma .nn { color: rgb(254, 100, 11) }
:root:not([data-theme="dark"]) .chroma .nx {  }
:root:not([data-theme="dark"]) .chroma .py { color: rgb(254, 100, 11) }
:root:not([data-theme="dark"]) .chroma .nt { color: rgb(136, 57, 239) }
:root:not([data-theme="dark"]) .chroma .nv { color: rgb(220, 138, 120) }
:root:not([data-theme="dark"]) .chroma .vc { color: rgb(220, 138, 120) }
:root:not([data-theme="dark"]) .chroma .vg { color: rgb(220, 138, 120) }
:root:not([data-theme="dark"]) .chroma .vi { color: rgb(220, 138, 120) }
:root:not([data-theme="dark"]) .chroma .vm { color: rgb(220, 138, 120) }
:root:not([data-theme="dark"]) .chroma .l {  }
:root:not([data-theme="dark"]) .chroma .ld {  }
:root:not([data-theme="dark"]) .chroma .s { color: rgb(64, 160, 43) }
:root:not([data-theme="dark"]) .chroma .sa { color: rgb(210, 15, 57) }
:root:not([data-theme="dark"]) .chroma .sb { color: rgb(64, 160, 43) }
:root:not([data-theme="dark"]) .chroma .sc { color: rgb(64, 160, 43) }
:root:not([data-theme="dark"]) .chroma .dl { color: rgb(30, 102, 245) }
:root:not([data-theme="dark"]) .chroma .sd { color: rgb(140, 143, 161) }
:root:not([data-theme="dark"]) .chroma .s2 { color: rgb(64, 160, 43) }
:root:not([data-theme="dark"]) .chroma .se { color: rgb(30, 102, 245) }
:root:not([data-theme="dark"]) .chroma .sh { color: rgb(140, 143, 161) }
:root:not([data-theme="dark"]) .chroma .si { color: rgb(64, 160, 43) }
:root:not([data-theme="dark"]) .chroma .sx { color: rgb(64, 160, 43) }
:root:not([data-theme="dark"]) .chroma .sr { color: rgb(23, 146, 153) }
:root:not([data-theme="dark"]) .chroma .s1 { color: rgb(64, 160, 43) }
:root:not([data-theme="dark"]) .chroma .ss { color: rgb(64, 160, 43) }
:root:not([data-theme="dark"]) .chroma .m { color: rgb(254, 100, 11) }
:root:not([data-theme="dark"]) .chroma .mb { color: rgb(254, 100, 11) }
:root:not([data-theme="dark"]) .chroma .mf { color: rgb(254, 100, 11) }
:root:not([data-theme="dark"]) .chroma .mh { color: rgb(254, 100, 11) }
:root:not([data-theme="dark"]) .chroma .mi { color: rgb(254, 100, 11) }
:root:not([data-theme="dark"]) .chroma .il { color: rgb(254, 100, 11) }
:root:not([data-theme="dark"]) .chroma .mo { color: rgb(254, 100, 11) }
:root:not([data-theme="dark"]) .chroma .o { color: rgb(4, 165, 229); font-weight: bold }
:root:not([data-theme="dark"]) .chroma .ow { color: rgb(4, 165, 229); font-weight: bold }
:root:not([data-theme="dark"]) .chroma .p {  }
:root:not([data-theme="dark"]) .chroma .c { color: rgb(140, 143, 161); font-style: italic }
:root:not([data-theme="dark"]) .chroma .ch { color: rgb(140, 143, 161); font-style: italic }
:root:not([data-theme="dark"]) .chroma .cm { color: rgb(140, 143, 161); font-style: italic }
:root:not([data-theme="dark"]) .chroma .c1 { color: rgb(140, 143, 161); font-style: italic }
:root:not([data-theme="dark"]) .chroma .cs { color: rgb(140, 143, 161); font-style: italic }
:root:not([data-theme="dark"]) .chroma .cp { color: rgb(140, 143, 161); font-style: italic }
:root:not([data-theme="dark"]) .chroma .cpf { color: rgb(140, 143, 161); font-weight: bold; font-style: italic }
:root:not([data-theme="dark"]) .chroma .g {  }
:root:not([data-theme="dark"]) .chroma .gd { color: rgb(210, 15, 57); background-color: rgb(204, 208, 218) }
:root:not([data-theme="dark"]) .chroma .ge { font-style: italic }
:root:not([data-theme="dark"]) .chroma .gr { color: rgb(210, 15, 57) }
:root:not([data-theme="dark"]) .chroma .gh { color: rgb(254, 100, 11); font-weight: bold }
:root:not([data-theme="dark"]) .chroma .gi { color: rgb(64, 160, 43); background-color: rgb(204, 208, 218) }
:root:not([data-theme="dark"]) .chroma .go {  }
:root:not([data-theme="dark"]) .chroma .gp {  }
:root:not([data-theme="dark"]) .chroma .gs { font-weight: bold }
:root:not([data-theme="dark"]) .chroma .gu { color: rgb(254, 100, 11); font-weight: bold }
:root:not([data-theme="dark"]) .chroma .gt { color: rgb(210, 15, 57) }
:root:not([data-theme="dark"]) .chroma .gl { text-decoration: underline }
:root:not([data-theme="dark"]) .chroma .w {  }

/* Catppuccin Mocha (Dark) */
:root[data-theme="dark"] .chroma { color: var(--code-text); background-color: var(--code-block-bg); }
:root[data-theme="dark"] .bg { color: var(--code-text); background-color: var(--code-block-bg); }
:root[data-theme="dark"] .chroma .x { color: rgb(205, 214, 244); }
:root[data-theme="dark"] .chroma .err { color: rgb(243, 139, 168); }
:root[data-theme="dark"] .chroma .cl { color: rgb(205, 214, 244); }
:root[data-theme="dark"] .chroma .lnlinks { outline: none; text-decoration: none; color: inherit }
:root[data-theme="dark"] .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
:root[data-theme="dark"] .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
:root[data-theme="dark"] .chroma .hl { background-color: rgb(65, 66, 68); }
:root[data-theme="dark"] .chroma .lnt { color: rgb(127, 132, 156); }
:root[data-theme="dark"] .chroma .ln { color: rgb(127, 132, 156); }
:root[data-theme="dark"] .chroma .line { display: flex; }
:root[data-theme="dark"] .chroma .k { color: rgb(203, 166, 247); }
:root[data-theme="dark"] .chroma .kc { color: rgb(250, 179, 135); }
:root[data-theme="dark"] .chroma .kd { color: rgb(243, 139, 168); }
:root[data-theme="dark"] .chroma .kn { color: rgb(148, 226, 213); }
:root[data-theme="dark"] .chroma .kp { color: rgb(203, 166, 247); }
:root[data-theme="dark"] .chroma .kr { color: rgb(203, 166, 247); }
:root[data-theme="dark"] .chroma .kt { color: rgb(243, 139, 168); }
:root[data-theme="dark"] .chroma .n { color: rgb(205, 214, 244); }
:root[data-theme="dark"] .chroma .na { color: rgb(137, 180, 250); }
:root[data-theme="dark"] .chroma .nb { color: rgb(137, 220, 235); }
:root[data-theme="dark"] .chroma .bp { color: rgb(137, 220, 235); }
:root[data-theme="dark"] .chroma .nc { color: rgb(249, 226, 175); }
:root[data-theme="dark"] .chroma .no { color: rgb(249, 226, 175); }
:root[data-theme="dark"] .chroma .nd { color: rgb(137, 180, 250); font-weight: bold; }
:root[data-theme="dark"] .chroma .ni { color: rgb(148, 226, 213); }
:root[data-theme="dark"] .chroma .ne { color: rgb(250, 179, 135); }
:root[data-theme="dark"] .chroma .nf { color: rgb(137, 180, 250); }
:root[data-theme="dark"] .chroma .fm { color: rgb(137, 180, 250); }
:root[data-theme="dark"] .chroma .nl { color: rgb(137, 220, 235); }
:root[data-theme="dark"] .chroma .nn { color: rgb(250, 179, 135); }
:root[data-theme="dark"] .chroma .nx { color: rgb(205, 214, 244); }
:root[data-theme="dark"] .chroma .py { color: rgb(250, 179, 135); }
:root[data-theme="dark"] .chroma .nt { color: rgb(203, 166, 247); }
:root[data-theme="dark"] .chroma .nv { color: rgb(245, 224, 220); }
:root[data-theme="dark"] .chroma .vc { color: rgb(245, 224, 220); }
:root[data-theme="dark"] .chroma .vg { color: rgb(245, 224, 220); }
:root[data-theme="dark"] .chroma .vi { color: rgb(245, 224, 220); }
:root[data-theme="dark"] .chroma .vm { color: rgb(245, 224, 220); }
:root[data-theme="dark"] .chroma .l { color: rgb(205, 214, 244); }
:root[data-theme="dark"] .chroma .ld { color: rgb(205, 214, 244); }
:root[data-theme="dark"] .chroma .s { color: rgb(166, 227, 161); }
:root[data-theme="dark"] .chroma .sa { color: rgb(243, 139, 168); }
:root[data-theme="dark"] .chroma .sb { color: rgb(166, 227, 161); }
:root[data-theme="dark"] .chroma .sc { color: rgb(166, 227, 161); }
:root[data-theme="dark"] .chroma .dl { color: rgb(137, 180, 250); }
:root[data-theme="dark"] .chroma .sd { color: rgb(108, 112, 134); }
:root[data-theme="dark"] .chroma .s2 { color: rgb(166, 227, 161); }
:root[data-theme="dark"] .chroma .se { color: rgb(137, 180, 250); }
:root[data-theme="dark"] .chroma .sh { color: rgb(108, 112, 134); }
:root[data-theme="dark"] .chroma .si { color: rgb(166, 227, 161); }
:root[data-theme="dark"] .chroma .sx { color: rgb(166, 227, 161); }
:root[data-theme="dark"] .chroma .sr { color: rgb(148, 226, 213); }
:root[data-theme="dark"] .chroma .s1 { color: rgb(166, 227, 161); }
:root[data-theme="dark"] .chroma .ss { color: rgb(166, 227, 161); }
:root[data-theme="dark"] .chroma .m { color: rgb(250, 179, 135); }
:root[data-theme="dark"] .chroma .mb { color: rgb(250, 179, 135); }
:root[data-theme="dark"] .chroma .mf { color: rgb(250, 179, 135); }
:root[data-theme="dark"] .chroma .mh { color: rgb(250, 179, 135); }
:root[data-theme="dark"] .chroma .mi { color: rgb(250, 179, 135); }
:root[data-theme="dark"] .chroma .il { color: rgb(250, 179, 135); }
:root[data-theme="dark"] .chroma .mo { color: rgb(250, 179, 135); }
:root[data-theme="dark"] .chroma .o { color: rgb(137, 220, 235); font-weight: bold; }
:root[data-theme="dark"] .chroma .ow { color: rgb(137, 220, 235); font-weight: bold; }
:root[data-theme="dark"] .chroma .p {  }
:root[data-theme="dark"] .chroma .c { color: rgb(108, 112, 134); font-style: italic; }
:root[data-theme="dark"] .chroma .ch { color: rgb(88, 91, 112); font-style: italic; }
:root[data-theme="dark"] .chroma .cm { color: rgb(108, 112, 134); font-style: italic; }
:root[data-theme="dark"] .chroma .c1 { color: rgb(108, 112, 134); font-style: italic; }
:root[data-theme="dark"] .chroma .cs { color: rgb(108, 112, 134); font-style: italic; }
:root[data-theme="dark"] .chroma .cp { color: rgb(108, 112, 134); font-style: italic; }
:root[data-theme="dark"] .chroma .cpf { color: rgb(108, 112, 134); font-weight: bold; }
:root[data-theme="dark"] .chroma .g { color: rgb(205, 214, 244); }
:root[data-theme="dark"] .chroma .gd { color: rgb(243, 139, 168); background-color: rgb(55, 56, 58); }
:root[data-theme="dark"] .chroma .ge { color: rgb(205, 214, 244); font-style: italic; }
:root[data-theme="dark"] .chroma .gr { color: rgb(243, 139, 168); }
:root[data-theme="dark"] .chroma .gh { color: rgb(250, 179, 135); font-weight: bold; }
:root[data-theme="dark"] .chroma .gi { color: rgb(166, 227, 161); background-color: rgb(55, 56, 58); }
:root[data-theme="dark"] .chroma .go { color: rgb(205, 214, 244); }
:root[data-theme="dark"] .chroma .gp { color: rgb(205, 214, 244); }
:root[data-theme="dark"] .chroma .gs { color: rgb(205, 214, 244); font-weight: bold; }
:root[data-theme="dark"] .chroma .gu { color: rgb(250, 179, 135); font-weight: bold; }
:root[data-theme="dark"] .chroma .gt { color: rgb(243, 139, 168); }
:root[data-theme="dark"] .chroma .gl { color: rgb(205, 214, 244); text-decoration: underline; }
:root[data-theme="dark"] .chroma .w {  }
