{{- /* preload */ -}}
<link rel="preload" href="/fonts/lxgw-wenkai/LXGWWenKaiMonoGBScreen.ttf" as="font" type="font/ttf" crossorigin>
<link rel="preload" href="/fonts/CaskaydiaCove/CaskaydiaCoveNerdFont-ExtraLight.ttf" as="font" type="font/ttf" crossorigin>
<link rel="preload" href="/fonts/CaskaydiaCove/CaskaydiaCoveNerdFont-Light.ttf" as="font" type="font/ttf" crossorigin>
<link rel="preload" href="/fonts/CaskaydiaCove/CaskaydiaCoveNerdFont-SemiLight.ttf" as="font" type="font/ttf" crossorigin>
<link rel="preload" href="/fonts/CaskaydiaCove/CaskaydiaCoveNerdFont-Regular.ttf" as="font" type="font/ttf" crossorigin>
<link rel="preload" href="/fonts/CaskaydiaCove/CaskaydiaCoveNerdFont-SemiBold.ttf" as="font" type="font/ttf" crossorigin>
<link rel="preload" href="/fonts/CaskaydiaCove/CaskaydiaCoveNerdFont-Bold.ttf" as="font" type="font/ttf" crossorigin>
<link rel="preload" href="/fonts/CaskaydiaCove/CaskaydiaCoveNerdFont-Italic.ttf" as="font" type="font/ttf" crossorigin>
<link rel="preload" href="/fonts/CaskaydiaCove/CaskaydiaCoveNerdFont-ExtraLightItalic.ttf" as="font" type="font/ttf" crossorigin>
<link rel="preload" href="/fonts/CaskaydiaCove/CaskaydiaCoveNerdFont-LightItalic.ttf" as="font" type="font/ttf" crossorigin>
<link rel="preload" href="/fonts/CaskaydiaCove/CaskaydiaCoveNerdFont-SemiLightItalic.ttf" as="font" type="font/ttf" crossorigin>
<link rel="preload" href="/fonts/CaskaydiaCove/CaskaydiaCoveNerdFont-SemiBoldItalic.ttf" as="font" type="font/ttf" crossorigin>
<link rel="preload" href="/fonts/CaskaydiaCove/CaskaydiaCoveNerdFont-BoldItalic.ttf" as="font" type="font/ttf" crossorigin>
