{{- /* Footer custom content area start */ -}}
{{- /*     Insert any custom code web-analytics, resources, etc. here */ -}}
{{- /* Footer custom content area end */ -}}
<script>
function decrypt_encryped_content(button) {
  const block = button.closest('.encrypted-block');
  const encrypted_data = block.dataset.encryptedData;
  const passphrase = block.querySelector('.decrypt-passphrase').value.trim();

  try {
    const bytes = CryptoJS.AES.decrypt(encrypted_data, passphrase);
    const decrypted_content = bytes.toString(CryptoJS.enc.Utf8);
    const html_doc = CryptoJS.enc.Utf8.stringify(CryptoJS.enc.Base64.parse(decrypted_content));

    if(decrypted_content) {
      block.innerHTML = html_doc;
    }

  } catch (err) {
    alert('Error decrypting content: ' + err.message);
  }
}
</script>
